# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1.8.0
        with:
          # Optional SDK version to use. If not provided, will install global.json version when available. Examples: 2.2.104, 3.1, 3.1.x
          dotnet-version: '5.0.x' # optional
      
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.5
      
      - name: Build .net project
        run: |
          dotnet tool install ElectronNET.CLI -g
          cd $GITHUB_WORKSPACE/SnapTest
          electronize build /target linux
      
      - name: Install Snapcraft
        uses: samuelmeuli/action-snapcraft@v1
        
      - name: Build snap package
        run: |
          cd $GITHUB_WORKSPACE
          snapcraft
